/UnityClient/Library
/UnityClient/obj
/UnityClient/Temp
/UnityClient/Logs
/UnityClient/xcode

/UEClient/Intermediate
/UEClient/Saved

obj/
bin/
.vs/

UnityClient/Assembly-CSharp-Editor-firstpass.csproj
UnityClient/Assembly-CSharp-Editor.csproj
UnityClient/Assembly-CSharp-firstpass.csproj
UnityClient/Assembly-CSharp.csproj
UnityClient/UnityClient.sln
UnityClient/UnityClient.userprefs
UnityClient/UnityClient.CSharp.csproj
UnityClient/UnityClient.CSharp.Editor.csproj
*.user
